absl-py==0.8.1
aiohttp==3.6.2
alabaster==0.7.12
alembic==1.4.2
altair==4.0.1
apache-airflow==1.10.12
apache-beam==2.26.0
apispec==1.3.3
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.12.1
argon2-cffi==20.1.0
arviz==0.5.1
asn1crypto==1.0.1
astor==0.8.0
astroid==2.3.1
astropy==3.2.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
autograd==1.3
autograd-gamma==0.4.1
autopep8==1.5
avro-python3==1.9.2.1
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
basketball-reference-web-scraper==4.4.1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
black==19.10b0
bleach==3.1.0
blis==0.4.1
bls==0.3.0
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
cached-property==1.5.2
cachetools==4.2.0
catalogue==1.0.0
cattrs==1.0.0
certifi==2020.12.5
cffi==1.12.3
cftime==1.0.4.2
chardet==3.0.4
Click==7.0
cliff==3.4.0
cloudpickle==1.6.0
cmaes==0.6.1
cmd2==1.3.11
cobras-ts==0.1.0
colorama==0.4.4
colorlog==4.0.2
config==0.4.2
configparser==3.5.3
contextlib2==0.6.0
crcmod==1.7
croniter==0.3.35
cryptography==2.7
cvxopt==1.2.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
databricks-cli==0.10.0
dataclasses==0.6
datalab==1.1.5
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.1
distributed==2.5.2
dm-tree==0.1.5
dnspython==2.1.0
docker==4.2.0
docopt==0.6.2
docutils==0.15.2
dtaidistance==1.2.3
email-validator==1.1.1
entrypoints==0.3
et-xmlfile==1.0.1
fastavro==0.22.9
fastcache==1.1.0
fastprogress==0.2.6
filelock==3.0.12
Flask==1.1.1
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.14
Flask-WTF==0.14.3
flatbuffers==1.12
fsspec==0.8.7
funcsigs==1.0.2
future==0.18.2
gast==0.3.3
gcsfs==0.6.0
gevent==1.4.0
gin-config==0.4.0
gitdb==4.0.4
GitPython==3.1.1
glob2==0.7
google-api-core==1.24.1
google-api-python-client==1.7.11
google-auth==1.24.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.2
google-cloud==0.34.0
google-cloud-bigquery==1.26.1
google-cloud-bigquery-storage==1.0.0
google-cloud-core==1.6.0
google-cloud-monitoring==0.31.1
google-cloud-storage==1.31.0
google-cloud-vision==2.0.0
google-crc32c==1.1.2
google-pasta==0.2.0
google-resumable-media==1.2.0
googleapis-common-protos==1.52.0
gorilla==0.3.0
graphviz==0.16
greenlet==0.4.15
grpcio==1.32.0
gunicorn==20.0.4
gym==0.18.0
h5py==2.10.0
hdfs==2.5.8
HeapDict==1.0.1
html5lib==1.0.1
httplib2==0.14.0
idna==2.7
imageio==2.9.0
imagesize==1.1.0
imgviz==1.2.3
importlib-metadata==1.7.0
importlib-resources==4.1.1
iniconfig==1.1.1
install==1.3.3
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==0.1.13
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.16.0
joypy==0.2.2
json-merge-patch==0.2
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.0.0
jupyter-core==4.7.1
jupyterlab==1.1.5
jupyterlab-pygments==0.1.2
jupyterlab-server==1.0.9
kaggle==1.5.10
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.0
kiwisolver==1.1.0
kshape==1.0.1
lab==4.2
labelImg==1.8.4
labelme==4.5.6
lazy-object-proxy==1.4.2
libarchive-c==2.8
libcst==0.3.16
lifelines==0.25.7
lightgbm==3.0.0
llvmlite==0.34.0
locket==0.2.0
lockfile==0.12.2
lvis==0.5.3
lxml==4.4.1
Mako==1.1.2
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.24.0
matplotlib==3.1.2
mccabe==0.6.1
memory-profiler==0.58.0
mistune==0.8.4
mlflow==1.8.0
mock==2.0.0
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multidict==4.6.1
multipledispatch==0.6.0
murmurhash==1.0.2
mypy-extensions==0.4.3
natsort==7.0.1
nbclient==0.5.3
nbconvert==5.6.0
nbformat==4.4.0
nest-asyncio==1.5.1
netCDF4==1.5.3
networkx==2.5
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
npm==0.1.1
numba==0.51.1
numexpr==2.7.0
numpy==1.19.5
numpydoc==0.9.1
oauth2client==4.1.3
oauthlib==3.1.0
odict==1.7.0
olefile==0.46
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
openpyxl==3.0.0
opt-einsum==3.3.0
optional-django==0.1.0
optuna==2.2.0
ortools==7.8.7959
packaging==20.9
pandas==0.25.1
pandas-gbq==0.11.0
pandas-profiling==1.4.0
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib-mate==1.0.0
pathlib2==2.3.5
pathspec==0.7.0
patsy==0.5.1
pbr==5.5.0
pendulum==1.4.4
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
pipenv==2018.11.26
pkginfo==1.5.0.1
plac==1.1.3
plotly==4.2.1
pluggy==0.13.0
plumber==1.5
ply==3.11
preshed==3.0.2
pretty-html-table==0.9.dev0
prettytable==0.7.2
prison==0.1.3
prometheus-client==0.7.1
prometheus-flask-exporter==0.13.0
promise==2.3
prompt-toolkit==2.0.10
proto-plus==1.13.0
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
py==1.10.0
py-cpuinfo==7.0.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycurl==7.43.0.3
pydata-google-auth==0.1.3
pydot==1.4.2
pydotplus==2.0.2
pyflakes==2.1.1
pyglet==1.5.0
Pygments==2.4.2
PyJWT==1.7.1
pylint==2.4.2
pymc3==3.8
pymongo==3.11.2
pyodbc==4.0.27
pyOpenSSL==19.0.0
pyparsing==2.4.7
pyperclip==1.8.1
PyQt5==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
pyreadr==0.3.4
pyrsistent==0.15.4
PySocks==1.7.1
pyspellchecker==0.5.5
pytesseract==0.3.7
pytest==6.2.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.9.0
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-daemon==2.2.4
python-dateutil==2.8.0
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pyts==0.11.0
pytz==2020.5
pytzdata==2020.1
PyWavelets==1.0.3
PyYAML==5.3.1
pyzmq==18.1.0
QtAwesome==0.6.0
qtconsole==4.5.5
QtPy==1.9.0
quantities==0.12.4
querystring-parser==1.2.4
readme-renderer==28.0
regex==2020.2.18
requests==2.25.1
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
rope==0.14.0
rsa==4.6
ruamel.yaml==0.15.46
schedule==0.6.0
scikit-image==0.15.0
scikit-learn==0.24.1
scipy==1.4.1
seaborn==0.11.1
Send2Trash==1.5.0
sentencepiece==0.1.94
setproctitle==1.1.10
shap==0.37.0
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.15.0
slackclient==2.4.0
slicer==0.0.3
smmap==3.0.2
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
spacy==2.2.4
sparse==0.11.2
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
SQLAlchemy==1.3.13
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
sqlparse==0.3.1
srsly==1.0.2
statsmodels==0.12.0
stevedore==3.2.2
sympy==1.4
tables==3.5.2
tabulate==0.8.7
tblib==1.4.0
tenacity==4.12.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-addons==0.10.0
tensorflow-datasets==4.1.0
tensorflow-estimator==2.4.0
tensorflow-hub==0.10.0
tensorflow-metadata==0.28.0
tensorflow-model-optimization==0.5.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
tf-models-official==2.3.0
tf-slim==1.1.0
Theano==1.0.4
thinc==7.4.0
threadpoolctl==2.1.0
thrift==0.13.0
tifffile==2021.3.5
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
tqdm==4.47.0
traitlets==4.3.3
twine==3.3.0
typed-ast==1.4.1
typeguard==2.9.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
tzlocal==1.5.1
unicodecsv==0.14.1
uritemplate==3.0.0
urllib3==1.26.2
uszipcode==0.2.4
vega-datasets==0.8.0
virtualenv==20.0.20
virtualenv-clone==0.5.4
wasabi==0.6.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.12.1
WTForms==2.3.3
wurlitzer==1.0.3
xarray==0.14.1
xgboost==1.2.1
xlrd==1.2.0
XlsxWriter==1.2.1
xlwings==0.15.10
xlwt==1.3.0
yarl==1.4.2
zict==1.0.0
zipp==0.6.0
zope.component==4.5
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.2.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
